<h1>Things To Do</h1>
<hr>
<% @tasks.each do |task| %>
  <h3><%= task.title %> | 
  <%= link_to "⚒", edit_task_path(task) %>
  
  <%= link_to "☠", task, method: :delete %>
  </h3>

<% end %>


<p><h3><%=link_to "Add Thing", new_task_path %></h3></p>